<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="svnlookPath" value="C:\Program Files\VisualSVN Server\bin\svnlook.exe" />
    <add key="SlackWebhookURL" value="https://hooks.slack.com/services/foo/bar/baz" />
  </appSettings>
</configuration>